# API del backend NestJS
VITE_API_URL=http://localhost:3000/api

# Modo actual del frontend
VITE_APP_MODE=demo

# Nombre del sistema
VITE_APP_NAME=UMSA Cloud Storage

# Nota:
# Este frontend trabaja en modo demo con localStorage.
# Las credenciales reales de PostgreSQL, AWS y VirusTotal NO deben ir en el frontend.
# Esas credenciales se configurarán después en el backend NestJS.